.pageNotFound {
    height: 700px;
    padding-top: 200px;
    .contentWrapper {
        text-align: center;
        color: var(--black-light);
        display: flex;
        align-items: center;
        flex-direction: column;
        .bigText {
            font-size: 150px;
            font-weight: 700;
        }
        .smallText {
            font-size: 44px;
        }
        .homeLink{
            margin-top: 20px;
            color: var(--black-light);
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            &:hover {
                color: var(--black-lighter);
            }
        }
    }
}
